<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>

    <script>
        function refreshList() {
            $(".list").load("/client/refreshPartial")
        }

        function addClient() {
            client = {};
            client.name = document.getElementById('clientNameTextBox').value;
            client.phones = document.getElementById('clientPhoneTextBox').value
                .split(';').map( el => { phone = {}; phone.number = el; return phone } );
            address = {};
            address.street = document.getElementById('clientAddressTextBox').value;
            client.address = address;
            const addClientResultContainer = document.getElementById('addClientResultContainer');
            addClientResultContainer.innerHTML = "";
            fetch('/api/client', 
                  { method: 'POST',
                    body: JSON.stringify(client),
                    headers: { 'Content-Type': 'application/json' },
                    credentials: 'include'
                  })
                .then( response =>
                  {if (response.ok) {
                      return response.text()
                  } else {
                      return response.text();
                  }})
                .then( results => {
                        refreshList();
                        addClientResultContainer.innerHTML = results;
                    }
                )
                .catch( err => {
                        addClientResultContainer.innerHTML = "Error: " + err;
                    });
        }
    </script>
</head>

<body>
<h4>Добавить клиента</h4>
<input type="text" name="name" id = "clientNameTextBox" value="Client 4" placeholder="имя клиента">
<input type="text" name="phone" id = "clientPhoneTextBox" value="7-123-456-78-90;8-765-543-32-10" placeholder="номера телефонов">
<input type="text" name="address" id = "clientAddressTextBox" value="Address 4" placeholder="адрес клиента">
<button onclick="addClient()">Сохранить</button>
<pre id = "addClientResultContainer"></pre>

<!-- <button onClick="refreshList()">Обновить список</button> -->
<form id="refresh-form" th:action="@{/client/refresh}" th:method="post" accept-charset="utf-8">
    <div th:fragment="input">
        <button type="submit">Показать последних</button>
        <input th:type="number" th:name="itemCount" th:id="itemCount" th:value="${itemCount}" th:required="${required}"/>
    </div>
</form>

<h4>Список 
    новых клиентов</h4>
<div th:fragment="list" class="list">
    <table style="width: 400px" class="table">
        <thead>
            <tr>
                <td style="width: 50px">Id</td>
                <td style="width: 150px">Имя</td>
                <td style="width: 350px">Телефоны</td>
                <td style="width: 250px">Адрес</td>
            </tr>
        </thead>
        <tbody>
            <div th:each="client : ${clients}">                      
            <tr>
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td>
                    <div th:each="phone, iterStat : ${client.phones}" th:text="!${iterStat.last} ? ${phone?.number} + ';': ${phone?.number}"></div>
                </td>
                <td th:text=${client.address?.street}></td>
                <td></td>
            </tr>
            </div>
        </tbody>
    </table>
</div>
</body>

</html>
